################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestAppUWP/obj
/TestAppWinUI/.vs
/TestAppWinUI/TestAppWinUI/bin
/TestAppWinUI/TestAppWinUI/obj
